{% extends "base.html" %}
{% block content %}

<div class="box">


    <div class="login-box">
        <h1>Flay Search</h1>
        <form>
        <a href="{{ url_for('login') }}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Entrar
        </a>
        <a href="{{ url_for('register') }}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Registrar-se
        </a>
        </form>
    </div>


</div>

{% endblock %}